<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>HSE Report</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="padding" color="light" fullscreen>  
  <ion-list>  
    <ion-list-header>Select a HSE Report and click on create button</ion-list-header>       
    <ion-item>  
      <ion-label>Choose specific report</ion-label>  
      <ion-select [interfaceOptions]="customActionSheetOptions" interface="action-sheet" 
      placeholder="Select One" name="form"[(ngModel)]="hse.form" (ionChange)="onChange(hse.form)" required>  
        <ion-select-option value="iaform">Incident\Accident</ion-select-option>  
        <ion-select-option value="hzform">Hazard</ion-select-option>   
        <ion-select-option value="nmform">Near Miss (HSE)</ion-select-option>   
        <ion-select-option value="boform">Behavioral Observation</ion-select-option>    
      </ion-select>  
    </ion-item>    
  </ion-list>  

  <form *ngIf="hse.form">
    <ion-item lines="full">
      <ion-label position="floating">Project/Division</ion-label>
      <ion-input type="text" name="project" [(ngModel)]="hse.project" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Location</ion-label>
      <ion-input type="email" name="location" [(ngModel)]="hse.location" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label *ngIf="hse.form == 'iaform'">Type of Accident/Incident*</ion-label>
         <ion-select interface="action-sheet" name="reportType" placeholder="Select One" 
            [(ngModel)]="hse.reportType" [interfaceOptions]="customReportTypeOptions"  *ngIf="hse.form == 'iaform'" required>  
          <ion-select-option *ngFor="let reportType of incidentList" required>{{reportType}}</ion-select-option>
        </ion-select>

        <ion-label *ngIf="hse.form == 'hzform'">Hazard Type*</ion-label>
        <ion-select interface="action-sheet" name="reportType" placeholder="Select One" 
            [(ngModel)]="hse.reportType" [interfaceOptions]="customReportTypeOptions"  *ngIf="hse.form == 'hzform'" required>  
          <ion-select-option *ngFor="let reportType of hazardTypeList" required>{{reportType}}</ion-select-option>
        </ion-select>

        <ion-label *ngIf="hse.form == 'nmform'">Type of Near miss*</ion-label>
        <ion-select interface="action-sheet" name="reportType" placeholder="Select One" 
            [(ngModel)]="hse.reportType" [interfaceOptions]="customReportTypeOptions"  *ngIf="hse.form == 'nmform'" required>  
          <ion-select-option *ngFor="let reportType of nearMissList" required>{{reportType}}</ion-select-option>
        </ion-select>

        <ion-label *ngIf="hse.form == 'boform'">Type of Behaviour*</ion-label>
        <ion-select interface="action-sheet" name="reportType" placeholder="Select One" 
            [(ngModel)]="hse.reportType" [interfaceOptions]="customReportTypeOptions"  *ngIf="hse.form == 'boform'" required>  
          <ion-select-option *ngFor="let reportType of behaviourList" required>{{reportType}}</ion-select-option>
        </ion-select>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating" *ngIf="hse.form == 'iaform' || hse.form == 'boform' " >Description of the Incident</ion-label>
      <ion-label position="floating" *ngIf="hse.form == 'hzform'" >Description of the Hazard</ion-label>
      <ion-label position="floating" *ngIf="hse.form == 'nmform'" >Description of the Near miss</ion-label>
      <ion-textarea rows="2" cols="20" name="description" [(ngModel)]= "hse.description" placeholder="Enter any notes here..." required></ion-textarea>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">What action did you take</ion-label>
      <ion-textarea rows="2" cols="20" name="action" [(ngModel)]="hse.action" placeholder="Enter any notes here..." required></ion-textarea>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">What further action is required</ion-label>
      <ion-textarea rows="2" cols="20" name="actionReq" [(ngModel)]="hse.actionReq" placeholder="Enter any notes here..." required></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label>Date and Time</ion-label>
      <ion-datetime displayFormat="MMM DD YYYY" name="date" [(ngModel)]="hse.date" required></ion-datetime>
    </ion-item>

    <ion-grid>
      <ion-row>
        <ion-col>
          <label>Upload Photo</label>
        </ion-col>
        <ion-col><ion-button shape="round" color="dark">upload</ion-button></ion-col>
      </ion-row>
    </ion-grid>

    <ion-item lines="full">
      <ion-label position="floating">Incident classification</ion-label>
      <ion-select [interfaceOptions]="customActionSheetOptions" interface="action-sheet"  name="incident"
        [(ngModel)]="hse.incident" placeholder="Select One" required>  
        <ion-select-option value="low">Low</ion-select-option>  
        <ion-select-option value="minor">Minor</ion-select-option>    
        <ion-select-option value="moderate">Moderate</ion-select-option>    
        <ion-select-option value="major">Major</ion-select-option>    
        <ion-select-option value="critical">Critical</ion-select-option>    
      </ion-select>  
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Root Cause</ion-label>
      <ion-textarea rows="2" cols="20" name="rootcause" [(ngModel)]="hse.rootcause" placeholder="Enter any notes here..." required></ion-textarea>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Recipients</ion-label>
      <ion-input type="recipient" name="recipients" [(ngModel)]="hse.recipients"required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block" (click)="createHSEReport(hse)">Submit</ion-button>
      </ion-col>
    </ion-row>
  </form>

</ion-content>

